<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ee7fb88b-eeb1-4051-8975-a4e415972234/resourcegroups/TreinamentoEvoSystems20230817192038ResourceGroup/providers/Microsoft.Web/sites/TreinamentoEvoSystems20230817192038</ResourceId>
    <ResourceGroup>TreinamentoEvoSystems20230817192038ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://treinamentoevosystems20230817192038.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>e3822ca0-26da-4a5d-9ce7-af04b96db14c</ProjectGuid>
    <MSDeployServiceURL>treinamentoevosystems20230817192038.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TreinamentoEvoSystems20230817192038</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$TreinamentoEvoSystems20230817192038</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ApiResourceId>/subscriptions/ee7fb88b-eeb1-4051-8975-a4e415972234/resourceGroups/TreinamentoEvoSystems20230817192038ResourceGroup/providers/Microsoft.ApiManagement/service/TreinamentoEvoSystemsapi/apis/TreinamentoEvoSystems</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>